<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
            <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <h2>Players: </h2>
        <table class="playerList" border='0'>
        <tr><td>Player 1</td><td>Player 2</td></tr>
        <%
            for(var i=0; i < players.length; i++) {
                var player = players[i];
        %>
            <tr>
                <td><input type="radio" name="player1" value="<%-player._id%>"><%-player.name%></td>
                <td><input type="radio" name="player2" value="<%-player._id%>"><%-player.name%></td>
                <td><button class='delete' data-val="<%-player._id%>">Delete</button></td>
            </tr>
        <%
            }
        %>
        </table>
        <button class='startRound'>Start Round</button><span class='roundFinish'></span>
        <hr>
        <div class='col'>
            <h3>Create a new player</h3>
            <p>Player name</p>
            <input class='name' type='text'>
            <p>Function to execute</p>
            <textarea class='func' rows=15 cols=80></textarea>
            <p/>
            <select class="testRunPlayer">
                        <%
                            for(var i=0; i < players.length; i++) {
                                var player = players[i];
                        %>
                            <option value=<%-player._id%>><%-player.name%></option>
                        <%
                            }
                        %>
                    </select>
            <button class='testRun' title="Test run the above function with another player">Test Run</button>
            <button class="create" title="Create a new player with the above name and function">Create Player</button>
        </div>
        <div class='col instructions'>
            <h3>Instructions</h3>
            <p>The function body should return a function that will be called for each guess. This allows you to use a closure
            to store values for each run within a match. The returned function will be passed the other players guess for the
            last run. Your function should return only one of the following: 0 (rock), 1 (paper), 2 (scissors). <strong>Illegal methods include: require, console, arguments.callee, arguements.caller, Date, and Math.random.</strong></p>
            <h3>Example</h3>
            <p>Example that returns what beats the last person's guess:</p>
            <pre>
var myLastGuess;

return function(otherGuess) {

    if(otherGuess === null) return 0;

    myLastGuess = otherGuess === 2 ? 0 : otherGuess + 1;

    return myLastGuess;
}
            </pre>
        </div>
        <p class='resp'></p>
    </body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script>

        var success = function(resp) {
            $resp.text('Successfully created player');

            $('.playerList').append(
            '<tr>' +
            '<td><input type="radio" name="player1" value="' + resp._id + '">' + resp.name + '</td>' +
            '<td><input type="radio" name="player2" value="' + resp._id + '">' + resp.name + '</td>' +
            '<td><button class="delete" data-val="' + resp._id + '">Delete</button></td>' +
            '</tr>');

        };

        var error = function(resp) {
            $resp.text('Error, is your function correct?');
        };

        var gameFinish = function(resp) {
            $finish.html((resp.test ? 'Test Function: ' : 'Player 1: ') + resp.player1 + '<br>Player 2: ' + resp.player2);
            if(resp.i) {
                $finish.append('<br>Iterations: ' + resp.i);
            }
        };

        var $name = $('.name'),
            $func = $('.func'),
            $resp = $('.resp'),
            $finish = $('.roundFinish');

        $('.create').click(function() {

            var name = $name.val(),
                func = $func.val();

            if( (name && name !== "") && (func && func !== "") ) {
                $.ajax({
                    data: JSON.stringify({
                        func: func,
                        name: name
                    }),
                    method: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/rps/players",
                    success: success,
                    error: error
                });
            }
        });

        $('.testRun').click(function() {
            var testPlayer = $('.testRunPlayer').val(),
                func = $func.val();

            $.ajax({
                data: JSON.stringify({
                    player: testPlayer,
                    func: func
                }),
                method: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/rps/testGame",
                success: gameFinish,
                error: error
            });
        });

        $('.startRound').click(function() {

            var player2 = $('input[name="player2"]:checked').val(),
                player1 = $('input[name="player1"]:checked').val();

            $.ajax({
                data: JSON.stringify({
                    player1: player1,
                    player2: player2
                }),
                method: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/rps/startGame",
                success: gameFinish,
                error: error
            });

        });

        $('.delete').click(function(e) {
            var id = $(e.target).attr('data-val');

            if(confirm("Are you sure?")) {
                $.ajax({
                    method: "DELETE",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/rps/players/" + id,
                    complete: function() {
                        $(e.target).closest('tr').remove();
                    },
                    error: error
                });
            }

        });

    </script>
</html>
